body {
  margin: 0;
  padding: 0;
  font-family: Open Sans Condensed, sans-serif;
}

.wrap {
  margin-bottom: 8px;
}
.header {
  background-color: #f0f0f0;
  height: 35px;
  justify-content: center;
  width: 100%;
  margin: 0;
}
.header p {
  color: #2b2e33;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  padding: 8px;

  line-height: 1.5;
  justify-content: center;
  align-items: center;
  display: flex;
}
.header span {
  background-color: #ffa935;
  color: #2b2e33 !important;
  padding: 0px 2px;
  margin: 0 3px;
}
.container-header {
  display: flex;
  padding: 10px 0 5px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
}

.image img {
  max-width: 100px;
  max-height: 70px;
  width: auto;
  height: auto;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 35px;
}

.navbar svg {
  margin-right: 5px;
  align-items: center;
}

.navbar a {
  margin-right: 10px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #2b2e33;
}

.container-login {
  display: flow-root;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
  background-color: #fff;
  padding: 32px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-sizing: border-box;
}
.container-login input {
  width: 100%;
  border: none;
  padding: 16px 0 0px 0;
  font-size: 14px;
  box-sizing: border-box;
  outline: 0;
  margin-bottom: 16px;
  border-bottom: 2px solid #fff;
}
.container-login input:focus {
  border-color: #ffa935;
}

.container-login h4 {
  margin: 0;
}

.container-input {
  margin-bottom: 8px;
}
.botao button {
  background-color: #ffa935;
  font-size: 1rem;
  border: none;
  color: #2b2e33;
  font-family: Open Sans Condensed, sans-serif;
  font-weight: 700 !important;
  height: 50px;
  text-transform: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 50px;
  outline: 0;
}
.botao button:focus {
  border: 1px solid #2b2e33;
}
.container-home {
  max-width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 300px 300px 300px;
}

.container-beer {
  width: 300px;
  text-align: center;
  border: 1px solid #fff;
  padding: 20px;
  margin: 0 10px;
}

.beer {
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  padding: 36px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}

.beer h2 {
  font-size: 14px;
  height: 32px;
}

.beer h3 {
  font-size: 14px;
}
.beer img {
  max-height: 200px;
}

.beer button {
  background-color: #ffa935;
  font-size: 1rem;
  border: none;
  color: #2b2e33;
  font-family: Open Sans Condensed, sans-serif;
  font-weight: 700 !important;
  height: 50px;
  text-transform: none;
  padding: 10px;
  width: 50%;
  cursor: pointer;
  border-radius: 50px;
  outline: 0;
  transition-duration: 0.4s;
}
.beer button:focus {
  border: 1px solid #2b2e33;
}
.beer button:hover {
  background-color: #e7e7e7;
}
