body {
  margin: 0;
  padding: 32px 0 0 0;
  font-family: Open Sans Condensed, sans-serif;
}

.wrap {
  margin-bottom: 8px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}
.header {
  background-color: #f0f0f0;
  height: 35px;
  justify-content: center;
  width: 100%;
  margin: 0;
}
.header p {
  color: #2b2e33;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  padding: 8px;

  line-height: 1.5;
  justify-content: center;
  align-items: center;
  display: flex;
}
.header span {
  background-color: #ffa935;
  color: #2b2e33 !important;
  padding: 0px 2px;
  margin: 0 3px;
}
.container-header {
  display: flex;
  padding: 10px 0 5px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 65px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
}

.image img {
  max-width: 100px;
  max-height: 70px;
  width: auto;
  height: auto;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 35px;
}

.navbar svg {
  margin-right: 5px;
  align-items: center;
}

.navbar a {
  margin-right: 10px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #2b2e33;
}

.container-categorias {
  display: flex;
  align-content: center;
  justify-content: center;
  border-bottom: 5px solid #ffa935;
  background-color: #ffffff;
}

.categorias-item {
  margin-right: 8px;
}

.categorias-item li {
  cursor: pointer;
  color: #2b2e33;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
}
.categorias-item a:visited {
  text-decoration: none;
}
.categorias-item a:hover {
  text-decoration: underline;
  text-decoration-color: #ffa935;
  color: #ffa935;
}
.categorias-item a:active {
  text-decoration: underline;
}
.container-body .container-login {
  margin-top: 40px !important;
}

.container-login {
  display: flow-root;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
  background-color: #fff;
  padding: 32px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 135px;
  border-radius: 20px;
}
.container-login input {
  width: 100%;
  border: none;
  padding: 16px 0 0px 0;
  font-size: 14px;
  box-sizing: border-box;
  outline: 0;
  margin-bottom: 16px;
  border-bottom: 2px solid #fff;
}

.container-login input:focus {
  border-color: #ffa935;
}

.container-login h4 {
  margin: 0;
}

.container-input {
  margin-bottom: 8px;
}
.botao button {
  background-color: #ffa935;
  font-size: 1rem;
  border: none;
  color: #2b2e33;
  font-family: Open Sans Condensed, sans-serif;
  font-weight: 700 !important;
  height: 50px;
  text-transform: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 50px;
  outline: 0;
}
.botao button:focus {
  border: 1px solid #2b2e33;
}
.container-home {
  max-width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 300px 300px 300px;
  margin-top: 135px;
}

.container-beer {
  width: 300px;
  text-align: center;
  border: 1px solid #fff;
  padding: 20px;
  margin: 0 10px;
}

.beer {
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 12px;
  text-align: center;
  padding: 32px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}

.beer h2 {
  font-size: 14px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beer h3 {
  font-size: 16px;
}
.beer img {
  max-height: 200px;
}

.beer button {
  background-color: #ffa935;
  font-size: 1rem;
  border: none;
  color: #2b2e33;
  font-family: Open Sans Condensed, sans-serif;
  font-weight: 700 !important;
  height: 50px;
  text-transform: none;
  padding: 10px;
  width: 50%;
  cursor: pointer;
  border-radius: 50px;
  outline: 0;
  transition-duration: 0.4s;
}
.beer button.remover {
  background-color: transparent;
}
.beer button:focus {
  border: 1px solid #2b2e33;
}
.beer button:hover {
  background-color: #e7e7e7;
}

.container-carrinho {
  margin-top: 100px;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-button button {
  background-color: #ffa935;
  color: #2b2e33;
  outline: 0;
  transition-duration: 0.4s;
  border-radius: 0;
  width: 125px;
}
.container-button button:first-child {
  margin-right: 10px;
}

.container-button span {
  margin-right: 10px;
  font-size: 20px;
  border: 1px solid;
  padding: 12px;
}
.item-remover {
  margin-top: 16px;
}
.item-remover span svg {
  width: 60px;
  height: 50px;
  cursor: pointer;
}

.container-button button svg {
  width: 25px;
  height: 25px;
}

.navbar .carrinho-quantidade {
  position: absolute;
  left: -9px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  width: 15px;
  height: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
}

.navbar span {
  position: relative;
}

.navbar .sair {
  margin: 0 16px;
  cursor: pointer;
}
.container-input svg {
  left: 550px;
  position: absolute;
  top: 383px;
}
input[type="password" i] {
  margin-left: 25px;
}
@media only screen and (max-width: 1024px) {
  .container-input svg {
    left: 382px;
    position: absolute;
    top: 383px;
  }
}
